@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-bg-base: #f8f7f9;
  --color-surface: #ffffff;
  
  --color-gray-100: #f1eff2;
  --color-gray-300: #9ca3af;
  --color-gray-400: #333333;

  --color-green-pastel: #d9f3d6;
  --color-green-light: #b7e5b5;
  --color-green-base: #539d52;
  --color-green-dark: #376336;

  --color-pink-pastel: #f4e5f0;
  --color-pink-light: #ecd0e5;
  --color-pink-base: #c06bb0;
  --color-pink-dark: #8a4180;
  --color-pink-badge: #f4e5f0;

  --shadow-sm: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
  --shadow-md: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  --shadow-card: 0px 1px 3px 0px rgba(0, 0, 0, 0.04);
  
  --font-sans: "Cairo", sans-serif;
}

:root {
  --font-sans: "Cairo", sans-serif;
}

* {
  font-family: var(--font-sans);
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-base);
  -webkit-font-smoothing: antialiased;
  color: var(--color-gray-400);
}